<div class="container mt-4">
    <h1>Login Page</h1>
    <hr>
    <div class="justify-content-center align-items-center">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email" [formControlName]="'email'"required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" [formControlName]="'password'" required>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>
</div>